# Copyright (c) 2014-2015, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import /vendor/etc/init/hw/init.s2.usb.rc

on fs
    wait /dev/block/platform/soc.0/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc.0/${ro.boot.bootdevice} /dev/block/bootdevice
    mount_all /system/vendor/etc/fstab.qcom --early

    mkdir /persist/data 0700 system system

    # Bluetooth 
    mkdir /persist/wlan_bt 0700 system system

    restorecon_recursive /persist
    restorecon_recursive /dsp

    # Start HW service manager early
    start hwservicemanager

on late-fs
    # Start services for bootanim
    start vendor.configstore-hal
    start surfaceflinger
    start bootanim
    start vendor.gralloc-2-0

    # mount RW partitions which need run fsck
    mount_all /system/vendor/etc/fstab.qcom --late

on post-fs-data
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    mkdir /data/misc/dts 0770 media audio
    mkdir /data/misc/audio_pp 0771 media audio

    chown media media /dev/i2c_smartpa
    chmod 0660 /dev/i2c_smartpa

    # sensors
    chown input system /sys/devices/platform/hardware_info/als_ps
    chown input system /sys/devices/platform/hardware_info/gsensor
    chown input system /sys/devices/platform/hardware_info/gyro
    chown input system /sys/devices/platform/hardware_info/msensor
    chmod 0664 /sys/devices/platform/hardware_info/als_ps
    chmod 0664 /sys/devices/platform/hardware_info/gsensor
    chmod 0664 /sys/devices/platform/hardware_info/gyro
    chmod 0664 /sys/devices/platform/hardware_info/msensor

    # type-c
    chown system system /sys/class/type-c/info/orientation
    chmod 0644 /sys/class/type-c/info/orientation
    chown system system /sys/class/type-c/info/ready
    chmod 0664 /sys/class/type-c/info/ready
    write /sys/class/type-c/info/ready 1
    chown system system /sys/class/type-c/info/mode
    chmod 0664 /sys/class/type-c/info/mode
    chown system system /sys/class/type-c/info/result
    chmod 0644 /sys/class/type-c/info/result
    chmod 660 /sys/class/type-c/info/vbus_status
    chown system system /sys/class/type-c/info/vbus_status

    # audio
    chown system system /system/bin/ext_spk_loopback
    chmod 0755 /system/bin/ext_spk_loopback
    chmod 0644 /sys/devices/soc.0/c051000.sound/usb_audio
    chmod 0644 /sys/devices/soc.0/c051000.sound/usb_audio_pid
    chmod 0644 /sys/module/snd_soc_msm8x16/parameters/headset_swap
    chmod 0644 /sys/module/snd_soc_msm8x16/parameters/usb_audio_mode
    chown media media /sys/devices/soc.0/c051000.sound/usb_audio
    chown media media /sys/devices/soc.0/c051000.sound/usb_audio_pid
    chown media media /sys/module/snd_soc_msm8x16/parameters/headset_swap
    chown media media /sys/module/snd_soc_msm8x16/parameters/usb_audio_mode

    # fingerprint
    chown system system  /dev/goodix_fp
    chmod 0644 /dev/goodix_fp

    chmod 660 /persist/serialno
    chown system system /persist/serialno

    # leds
    chown system system /sys/module/leds_aw2013/parameters/aw2013_sleep_led
    chmod 0666 /sys/module/leds_aw2013/parameters/aw2013_sleep_led

    chown system camera /sys/class/leds/led:flash_0/brightness
    chmod 0664 /sys/class/leds/led:flash_0/brightness

    chown system camera /sys/class/leds/led:flash_1/brightness
    chmod 0664 /sys/class/leds/led:flash_1/brightness

    chown system camera /sys/class/leds/led:torch_0/brightness
    chmod 0664 /sys/class/leds/led:torch_0/brightness

    chown system camera /sys/class/leds/led:torch_1/brightness
    chmod 0664 /sys/class/leds/led:torch_1/brightness

    chown system camera /sys/class/leds/torch-light0/brightness
    chmod 0664 /sys/class/leds/torch-light0/brightness

    chown system camera /sys/class/leds/torch-light1/brightness
    chmod 0664 /sys/class/leds/torch-light1/brightness

    chown system camera /sys/class/leds/led:switch/brightness
    chmod 0664 /sys/class/leds/led:switch/brightness

    # default display backlight max brightness
    write /sys/class/leds/lcd-backlight/max_brightness 255

    # reduced power rate when normal charge
    chown system system /sys/class/power_supply/battery/le_quick_charge_mode
    chmod 666 /sys/class/power_supply/battery/le_quick_charge_mode

#Create folder for mm-qcamera-daemon
mkdir /data/vendor/camera 0770 camera camera

# start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class main
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/camera-daemon/tasks

on property:init.svc.media=restarting
    restart qcamerasvr

on property:init.svc.servicemanager=restarting
    restart qcamerasvr

on init
   write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

# Allow usb charging to be disabled peristently
on property:persist.usb.chgdisabled=1
    write /sys/class/power_supply/battery/charging_enabled 0

on property:persist.usb.chgdisabled=0
    write /sys/class/power_supply/battery/charging_enabled 1

service qseecomd /system/vendor/bin/qseecomd
   class core
   user root
   group root
   writepid /dev/cpuset/camera-daemon/tasks

service thermal-engine /system/vendor/bin/thermal-engine
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   socket thermal-send-rule stream 0660 system system
   group root
   writepid /dev/cpuset/camera-daemon/tasks

on boot
    start rmt_storage

    chown system system /proc/touchpanel/capacitive_keys_enable

service wcnss-service /system/vendor/bin/wcnss_service
    class late_start
    user system
    group system wifi radio
    oneshot

service ppd /system/vendor/bin/mm-pp-daemon
    class late_start
    disabled
    user system
    socket pps stream 0660 system system
    group system graphics

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

# workaround for color service issue
on property:init.svc.surfaceflinger=restarting
    stop ppd

on property:init.svc.zygote=stopped
    stop ppd

on property:init.svc.zygote=running
    start ppd

on property:init.svc.zygote=restarting
    stop ppd

service vendor.imsqmidaemon /system/vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio log diag
    seclabel u:r:ims:s0

service vendor.imsdatadaemon /system/vendor/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet log diag
    seclabel u:r:ims:s0
    disabled

on property:vendor.ims.QMI_DAEMON_STATUS=1
    start vendor.imsdatadaemon

service vendor.ims_rtp_daemon /system/vendor/bin/ims_rtp_daemon
    class main
    user system
    socket ims_rtpd stream 0660 system radio
    group radio diag inet log
    seclabel u:r:hal_imsrtp:s0
    disabled

service vendor.imsrcsservice /system/vendor/bin/imsrcsd
    class main
    user system
    group radio diag inet log
    seclabel u:r:ims:s0
    disabled

on property:vendor.ims.DATA_DAEMON_STATUS=1
    restart vendor.ims_rtp_daemon
    start vendor.imsrcsservice

service gx_fpd /vendor/bin/gx_fpd
    class late_start
    user root
    group root system
    seclabel u:r:goodix:s0

on charger
    setprop persist.sys.usb.config mass_storage
    start qcom-post-boot
    start thermal-engine

service adsprpcd /system/vendor/bin/adsprpcd
    class main
    user media
    group media
    writepid /dev/cpuset/system-background/tasks

service vendor.per_mgr /system/vendor/bin/pm-service
    class core
    user system
    group system
    ioprio rt 4
    writepid /dev/cpuset/system-background/tasks

service vendor.per_proxy /system/vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled
    writepid /dev/cpuset/system-background/tasks

on property:init.svc.vendor.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    stop vendor.per_proxy

on property:persist.sys.le_fast_chrg_enable=1
    write /sys/class/power_supply/battery/le_quick_charge_mode 0

on property:persist.sys.le_fast_chrg_enable=0
    write /sys/class/power_supply/battery/le_quick_charge_mode 1

on property:sys.settings.powerlimit=1
    write /sys/class/power_supply/battery/charging_enabled 0

on property:sys.settings.powerlimit=0
    write /sys/class/power_supply/battery/charging_enabled 1

on property:sys.usb.config.powerlimit=1
    write /sys/class/power_supply/battery/system_temp_level 3

on property:sys.usb.config.powerlimit=0
    write /sys/class/power_supply/battery/system_temp_level 0

on property:sys.typec.set.mode=master
    write /sys/class/type-c/info/mode 0

on property:sys.typec.set.mode=client
    write /sys/class/type-c/info/mode 3

on property:persist.sys.usb.gps.notify=1
    write /sys/class/type-c/info/vbus_status 1

on property:persist.sys.usb.gps.notify=2
    write /sys/class/type-c/info/vbus_status 0

on property:sys.leeco.performance_mode=0

    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 0
    write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus 2
    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 1
    write /sys/devices/system/cpu/cpu0/core_ctl/max_cpus 4
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0

    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor smartmax_eps
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor smartmax_eps

    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 400000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1113600
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1190400
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 400000

    write /sys/module/msm_thermal/vdd_restriction/enabled 0
    write /sys/module/msm_thermal/parameters/enabled Y
    write /sys/module/adreno_idler/parameters/adreno_idler_active Y
    write /sys/module/simple_gpu_algorithm/parameters/simple_gpu_activate 1
    write /sys/module/msm_thermal/core_control/enabled 1

    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 266666667
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 432000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz

    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/foreground/cpus 0-4
    write /dev/cpuset/top-app/cpus 0-5
    write /sys/module/sync/parameters/fsync_enabled Y
    write /proc/sys/vm/swappiness 90

    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /proc/sys/kernel/random/read_wakeup_threshold 1024
    write /proc/sys/kernel/random/write_wakeup_threshold 1024
    write /sys/block/mmcblk0/bdi/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0rpmb/bdi/read_ahead_kb 128
    write /sys/block/mmcblk0rpmb/queue/read_ahead_kb 128

    write /sys/kernel/dyn_fsync/Dyn_fsync_active 1
    write /sys/module/cpu_boost/parameters/input_boost_ms 30
    write /sys/module/simple_gpu_algorithm/parameters/simple_laziness 10
    write /sys/module/simple_gpu_algorithm/parameters/simple_ramp_threshold 1000
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload 10000

    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/boost_ms 0
    write /sys/module/cpu_boost/parameters/input_boost_ms 0
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/devices/system/cpu/cpu0/cpufreq/UV_mV_table "700 700 750 860 930 965 980 985 730 730 820 860 935 965 980"

    write /sys/module/msm_performance/parameters/cpu_min_freq "0:400000 1:400000 2:400000 3:400000 4:400000 5:400000 6:400000 7:400000"
    write /sys/module/msm_performance/parameters/cpu_max_freq "0:1190400 1:1190400 2:1190400 3:1190400 4:1113600 5:1113600 6:1113600 7:1113600"

    write /sys/devices/system/cpu/cpufreq/smartmax_eps/awake_ideal_freq 691200
    write /sys/devices/system/cpu/cpufreq/smartmax_eps/suspend_ideal_freq 400000
    write /sys/devices/system/cpu/cpufreq/smartmax_eps/touch_poke_freq 1056000
    write /sys/devices/system/cpu/cpufreq/smartmax_eps/boost_freq 1190400
    write /sys/devices/system/cpu/cpufreq/smartmax_eps/input_boost_duration 30000

on property:sys.leeco.performance_mode=1

    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 0
    write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus 4
    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 1
    write /sys/devices/system/cpu/cpu0/core_ctl/max_cpus 4
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 400000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1401600
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1824000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 400000

    write /sys/module/msm_thermal/vdd_restriction/enabled 0
    write /sys/module/msm_thermal/parameters/enabled Y
    write /sys/module/adreno_idler/parameters/adreno_idler_active Y
    write /sys/module/simple_gpu_algorithm/parameters/simple_gpu_activate 1
    write /sys/module/msm_thermal/core_control/enabled 1

    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 266666667
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 550000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 1
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz

    write /dev/cpuset/background/cpus 0-2
    write /dev/cpuset/foreground/cpus 0-2,4-5
    write /dev/cpuset/top-app/cpus 0-7
    write /sys/module/sync/parameters/fsync_enabled Y
    write /proc/sys/vm/swappiness 60

    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /proc/sys/kernel/random/read_wakeup_threshold 1024
    write /proc/sys/kernel/random/write_wakeup_threshold 1024
    write /sys/block/mmcblk0/bdi/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk0rpmb/bdi/read_ahead_kb 512
    write /sys/block/mmcblk0rpmb/queue/read_ahead_kb 512

    write /sys/kernel/dyn_fsync/Dyn_fsync_active 1
    write /sys/module/cpu_boost/parameters/input_boost_ms 30
    write /sys/module/simple_gpu_algorithm/parameters/simple_laziness 4
    write /sys/module/simple_gpu_algorithm/parameters/simple_ramp_threshold 5000
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload 5000

    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/boost_ms 0
    write /sys/module/cpu_boost/parameters/input_boost_ms 0
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/devices/system/cpu/cpu0/cpufreq/UV_mV_table "700 700 750 860 930 965 980 985 730 730 820 860 935 965 980"

    write /sys/module/msm_performance/parameters/cpu_min_freq "0:400000 1:400000 2:400000 3:400000 4:400000 5:400000 6:400000 7:400000"
    write /sys/module/msm_performance/parameters/cpu_max_freq "0:1824000 1:1824000 2:1824000 3:1824000 4:1401600 5:1401600 6:1401600 7:1401600"

    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 60000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 1382400
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 480000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "80 400000:68 691200:72 806400:83 1017600:99 1382400:75 1401600:99"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/align_windows 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration 0

    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 940800
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 480000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "74 883200:73 940800:80 1248000:61 1382400:69 1612800:69 1747200:67 1824000:99"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/align_windows 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_sched_load 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 60000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration 0

on property:sys.leeco.performance_mode=2

    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 1
    write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus 4
    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 1
    write /sys/devices/system/cpu/cpu0/core_ctl/max_cpus 4
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor blu_active
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor blu_active

    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 883200
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1804800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401600
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 691200

    write /sys/module/msm_thermal/vdd_restriction/enabled 0
    write /sys/module/msm_thermal/parameters/enabled N
    write /sys/module/adreno_idler/parameters/adreno_idler_active N
    write /sys/module/simple_gpu_algorithm/parameters/simple_gpu_activate 1
    write /sys/module/msm_thermal/core_control/enabled 1

    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 266666667
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 600000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 1
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz

    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/top-app/cpus 0-7
    write /sys/module/sync/parameters/fsync_enabled N
    write /proc/sys/vm/swappiness 0

    write /sys/block/mmcblk0/queue/scheduler zen
    write /sys/block/mmcblk0/queue/read_ahead_kb 1024
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /proc/sys/kernel/random/read_wakeup_threshold 1024
    write /proc/sys/kernel/random/write_wakeup_threshold 1024
    write /sys/block/mmcblk0/bdi/read_ahead_kb 1024
    write /sys/block/mmcblk0/queue/read_ahead_kb 1024
    write /sys/block/mmcblk0rpmb/bdi/read_ahead_kb 1024
    write /sys/block/mmcblk0rpmb/queue/read_ahead_kb 1024

    write /sys/kernel/dyn_fsync/Dyn_fsync_active 0
    write /sys/module/cpu_boost/parameters/input_boost_ms 30
    write /sys/module/simple_gpu_algorithm/parameters/simple_laziness 2
    write /sys/module/simple_gpu_algorithm/parameters/simple_ramp_threshold 10000
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload 1000

    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/boost_ms 0
    write /sys/module/cpu_boost/parameters/input_boost_ms 0
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/devices/system/cpu/cpu0/cpufreq/UV_mV_table "700 700 750 860 930 965 980 985 730 730 820 860 935 965 980"

    write /sys/module/msm_performance/parameters/cpu_min_freq "0:691200 1:691200 2:691200 3:691200 4:883200 5:883200 6:883200 7:883200"
    write /sys/module/msm_performance/parameters/cpu_max_freq "0:1401600 1:1401600 2:1401600 3:1401600 4:1804800 5:1804800 6:1804800 7:1804800"

    write /sys/devices/system/cpu/cpu4/cpufreq/blu_active/target_loads "74 883200:73 940800:80 1248000:61 1382400:69 1612800:69 1747200:67 1824000:99"
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/target_loads "80 400000:68 691200:72 806400:83 1017600:99 1382400:75 1401600:99"

